---
import DateDisplayComponent from "../shared/DateDisplay.astro";

export interface AsideCardProps {
    heading: string;
    date?: string;
}

const { heading, date } = Astro.props;
---

<section class="aside-card">
    <div class="aside-card__title">
        <h2>{heading}</h2>
        <slot name="badge" />
    </div>

    <div class="aside-card__content">
        <div class="aside-card__inner">
            <slot />
        </div>
        {date && <DateDisplayComponent date={date} variant="calendar" />}
    </div>
</section>

<style lang="scss">
    @use "../../styles/_breakpoints.scss" as *;
  
    .aside-card {
        background: var(--bg-medium);
        background-image: url('/images/noise.webp');
        background-blend-mode: exclusion;
        border-radius: 8px;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
  
    .aside-card__title {
        gap: .5rem;
        background-color: #0a335b;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        color: #FFF;
        line-height: 1;
        padding: .5rem 1rem;
        display: inline-flex;
        align-items: center;
        margin-bottom: .5rem;
    }
  
    .aside-card__content {
        display: flex;
        gap: .75rem;
        padding-inline: 1rem;
        padding-bottom: 1rem;
    }

    .aside-card__inner {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: .5rem;
    }
</style>
