---
import ImageCarousel from "./ImageCarousel.astro";

const { images } = Astro.props;

---


<section class="hero-wrapper">
  <ImageCarousel images={images} />
</section>

<style>
  .hero-wrapper {
    position: relative;
    width: 100%;
    height: clamp(250px, 40vw, 500px);
    overflow: hidden;
    z-index: 0;
  }
  </style>