---
import { fetchLatestNews } from "../../sanity/queries/news";
import type { Post } from "../../utils/types";
import PortableText from "../shared/PortableText.astro";

const news: Post | null = await fetchLatestNews();
---

{news && (
    <section class="latest-news">
      <h2>For your diary</h2>
      <h3>{news.title}</h3>
      <PortableText portableText={news.body} />
      {/* <p>For more information, please email the secretary at <a href="mailto:mail@norfolksuffolkwsd.org.uk">mail@norfolksuffolkwsd.org.uk</a></p> */}
    </section>
  )}
  
  <style lang="scss">
    @use "../../styles/_breakpoints.scss" as *;

    .latest-news {
      background: var(--bg-medium);
      border-radius: 8px;
      flex: 1;
      padding: .5rem;
      @media (min-width: $BREAKPOINT_SMALL) {
        padding: 1rem;
      }
    }
  
    .latest-news .date {
      font-size: 0.9rem;
      color: #666;
    }
  </style>