---
import LightboxGallery from '../../components/LightboxGallery.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { fetchGalleryPage } from '../../utils/sanity';

// Fetch posts with images
const galleries = await fetchGalleryPage();

// Merge all images
const allImages = galleries.flatMap((post) => post.images || []);

---

<BaseLayout>
  <h1>Photo Gallery</h1>
  
  <div class="gallery-content">
    <LightboxGallery images={allImages} style="polaroid" />
  </div>
</BaseLayout>
