---
import { fetchLatestGallery } from '../../utils/sanity';
import Seo from '../../components/shared/Seo.astro';
import { buildTitle } from '../../utils/meta';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PageTitle from '../../components/shared/PageTitle.astro';


const latest = await fetchLatestGallery();

const pageTitle = buildTitle("Photo Gallery");

if (!latest?.slug) {
  throw new Error('No gallery found');
}

const target = `/gallery/${latest.slug}`;
---

<Seo title={pageTitle} />

<BaseLayout>
  <div class="container">
    <PageTitle title="Photo Gallery" />
    <p>in progress...</p>
  </div>
</BaseLayout>
