---
import GalleryGrid from '../../components/gallery/GalleryGrid.vue';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllGalleryImages } from '../../sanity/queries/gallery';
import PageTitle from '../../components/shared/PageTitle.astro';
import GalleryNav from '../../components/gallery/GalleryNav.astro';
 
const initialImages = await getAllGalleryImages({ limit: 5, offset: 0 });

---

<BaseLayout>
  <div class="container">
    <PageTitle title="Photo Gallery" />
    <GalleryNav currentPath={Astro.url.pathname}  />

    <GalleryGrid client:load initialImages={initialImages} infinite={true} />
  </div>
</BaseLayout>

<style lang="scss">
  .container {
    margin: 1rem;
  }
</style>
``