---
const { date } = Astro.props;

const parsedDate = new Date(date);
const isValidDate = !isNaN(parsedDate.getTime());

// const options = {
//   year: "numeric",
//   month: format === "short" ? "short" : "long",
//   day: "numeric",
// };

const formattedDate = parsedDate.toLocaleDateString("en-GB");
---

<span>
  {isValidDate ? formattedDate : ""}
</span>
