---
const { variant = "primary" } = Astro.props;
---

<div class={`page-description-container page-description-container--${variant}`}>
  <div class="page-description">
    <div class="page-description-content">
        <slot />
    </div>
  </div>
</div>

<style lang="scss">
.page-description-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: -5px 10px 10px;
}

.page-description {
  display: flex;
  background-color: #f0f0f0;
  padding: 5px;
  flex-direction: column;
  border-radius: 6px 12px 8px 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}

.page-description-content {
  background-color: #f0f0f0;
  border: dotted 3px #c8eaff;
  border-radius: 6px 12px 8px 10px;
  padding: 10px 30px;
  line-height: 0.8;
  flex: 1;
}

.page-description-container--secondary {
        .page-description {
            background-color: #333;
            color: white;
            color: var(--color-light);
        }

        .page-description-content {
            background-color: #333;
            color: white;
        }
    }
</style>
