---
export interface PreloadImage {
  url: string;
  srcSet?: string;
  sizes?: string;
  type?: string;
}

export interface Props {
  title: string;
  description?: string;
  preloadImage?: PreloadImage;
}

const { title, description, preloadImage } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{title}</title>
  {description && <meta name="description" content={description} />}

  {preloadImage && (
    <link
      rel="preload"
      as="image"
      href={preloadImage.url}
      imagesrcset={preloadImage.srcSet}
      imagesizes={preloadImage.sizes || "100vw"}
      type={preloadImage.type || "image/webp"}
    />
  )}
</head>
