---
import type { SeoProps } from '../../utils/types'
const { title, description, preloadImage } = Astro.props as any;

console.log("title", title);
console.log("description", description);
console.log("preloadImage", preloadImage);

---

{title && <title>{title}</title>}
{description && <meta name="description" content={description} />}


{preloadImage && (
  <link
    rel="preload"
    as="image"
    href={preloadImage.url}
    imagesrcset={preloadImage.srcSet}
    imagesizes={preloadImage.sizes || "100vw"}
    type={preloadImage.type || "image/webp"}
  />
)}
