@function generate-jagged-edge($side, $height: 5px, $width: 1%) {
  $points: ();
  // Convert percentage to number
  $width-number: $width / 1%;
  $total: ceil(100 / $width-number);
  
  @if $side == 'top' {
    @for $i from 0 through $total {
      $x: $i * $width-number;
      @if $i % 2 == 0 {
        $points: append($points, "#{$x}% #{$height}", comma);
      } @else {
        $points: append($points, "#{$x}% 0", comma);
      }
    }
  } @else if $side == 'right' {
    @for $i from 0 through $total {
      $y: $i * $width-number;
      @if $i % 2 == 0 {
        $points: append($points, "calc(100% - #{$height}) #{$y}%", comma);
      } @else {
        $points: append($points, "100% #{$y}%", comma);
      }
    }
  } @else if $side == 'bottom' {
    @for $i from 0 through $total {
      $x: 100 - ($i * $width-number);
      @if $i % 2 == 0 {
        $points: append($points, "#{$x}% calc(100% - #{$height})", comma);
      } @else {
        $points: append($points, "#{$x}% 100%", comma);
      }
    }
  } @else if $side == 'left' {
    @for $i from 0 through $total {
      $y: 100 - ($i * $width-number);
      @if $i % 2 == 0 {
        $points: append($points, "#{$height} #{$y}%", comma);
      } @else {
        $points: append($points, "0 #{$y}%", comma);
      }
    }
  }
  
  @return $points;
}

@mixin jagged-border($background-color: #000, $height: 5px, $width: 1%) {
  position: relative;
  margin: 5px;
  background-color: $background-color;

  &::after {
    position: relative;
    content: '';
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  &::before {
    $top: generate-jagged-edge('top', $height, $width);
    $right: generate-jagged-edge('right', $height, $width);
    $bottom: generate-jagged-edge('bottom', $height, $width);
    $left: generate-jagged-edge('left', $height, $width);
    
    clip-path: polygon(#{$top}, #{$right}, #{$bottom}, #{$left});
  
    background-color: $background-color;
    position: absolute;
    content: '';
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
  }

  // > * {
  //   position: relative;
  //   z-index: 1;
  // }


}
