@mixin panel {
  background-color: var(--panel-bg);
  background-image: url('/images/noise.webp');
  padding: .5rem;
  
  // TODO: Container query? 
  
  border-radius: var(--radius-quirky);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

@mixin panel-border {
  border: dashed 3px white;
  border-radius: var(--radius-quirky);
  padding: 10px;
}
