@use './reset.scss';
@use './variables.scss';
@use './layout.scss';


@use './blog.scss';
@use './portable-text.scss';


body {
    font-family: "Delius Swash Caps", "Mystery Quest",  "Twinkle Star", cursive;
}

h1 {
    font-size: 3rem;
}

main {
  background-image: url('/images/noise.png');
}

a {
  text-underline-position: under;
}

.hidden {
  display: none;
}

.stitched {
    position: relative;
    padding: 20px;
    background: #f5f5f5; /* Light fabric-like background */
    border: 2px dashed #444; /* Stitched effect */
    border-radius: 6px;
    box-shadow: 
      0 2px 0 #999,  /* 3D raised effect */
      0 4px 5px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    
    /* Simulating an embroidery stitch effect */
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
    background-size: 5px 5px;
  }
  

  