@use './reset';
@use './variables';
@use './layout';
@use './_utility';
@use './portable-text';


@use './_breakpoints' as *;

h1 {
    font-size: 2rem;
    @media (min-width: $BREAKPOINT_SMALL) {
      font-size: 3rem;
    }
}

body {
    font-family: "Delius Swash Caps", sans-serif;
}

main {
  background-image: url('/images/noise.webp');
}

a {
  text-underline-position: under;
  transition: color 0.3s ease;
}
