*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

input, button, textarea, select {
    font: inherit; /* Ensure inputs match the font */
}

ol, ul {
    list-style: none; /* Remove default list styling */
}

img, video {
    max-width: 100%; /* Ensure media does not overflow */
    height: auto;
}

h1 {
    font-family: Helvetica, "Mystery Quest", "Twinkle Star", "Delius Swash Caps", cursive;
}



html, body {
    height: 100%;
}



body {
  /* background-image: url('../images/fabric-texture.jpg'); */

  /* background-image: url('../images/bg2.png');

  background: url('../images/patchwork-small.png');

  background-color: rgb(178, 183, 204);
  background-image: url('../images/noisy-texture.png');
 */
  background-color: #DDD; 
  
  background-repeat: repeat;
  background-blend-mode: multiply;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 1rem;
}

footer {
  background-color: #CCC;
  margin-top: auto;
  padding: 1rem;
  text-align: center;
}
