---
import BaseLayout from "../layouts/BaseLayout.astro";
import { fetchHomepage } from "../sanity/queries/homepage";

import PortableText from "../components/shared/PortableText.astro";
import Banner from '../components/Banner.astro';
import LatestNews from "../components/LatestNews.astro";
import NextEvent from "../components/homepage/NextEvent.astro";


// Fetch homepage data at build time
const vm = await fetchHomepage();

---

<BaseLayout>
  <Banner />

  <div class="container">
    <section class="welcome">
      <div class="portable-text">
        <PortableText portableText={vm?.welcomeWidget} />
      </div>
    </section>
    <aside>
      <LatestNews />
      <NextEvent />
    </aside>
  </div>

</BaseLayout>

<style lang="scss">
  .container {
    margin: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  .welcome {
    flex: 1;
  }

  aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
  }

  // TODO: Organise numbers for breakpoints etc
</style>
