---
import BaseLayout from '../layouts/BaseLayout.astro'

import { GET } from './api/hello'

let response = await GET(Astro)
const data = await response.json()
---

<BaseLayout>
  <h1>{data.greeting}</h1>
</BaseLayout>
