---
import BaseLayout from "../layouts/BaseLayout.astro";
import { fetchSettings, type ImageBlock, type RichTextBlock } from "./api/getSettings";

// Fetch settings at build time
const settings = await fetchSettings();

console.log('settings', settings);
---

<BaseLayout>
  <section id="photo">
    <!-- <h2>{settings.siteTitle}</h2>
    <p>{settings.siteDescription}</p> -->
  </section>
    <div class="container">

    <section>
      <h2>Welcome</h2>
      <div>
        <!-- TODO: Experiement with cleaner implementation -->
        {settings.welcomeWidget?.map((block: RichTextBlock | ImageBlock) => {
          if (block._type === 'block') {
            return <p>{block.children.map((child: { text: string }) => child.text).join(' ')}</p>;
          }
          if (block._type === 'image') {
            return <img src={block.asset.url} alt={block.alt || 'Welcome image'} />;
          }
        })}
      </div>
    </section>
    <section>
      <h2>Next event</h2>
      <!-- Next event component -->
      <p><a href="/events">View all upcoming events</a></p>
    </section>
    <section>
      <h2>Latest news</h2>
      <!-- Latest news component -->
      <p><a href="/news">View all news</a></p>
    </section>
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  section {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
  }

  #photo {
    min-height: 200px;
    background-color: azure;
  }
</style>
