---
import BaseLayout from "../layouts/BaseLayout.astro";
import { fetchHomepage } from "../utils/sanity";

import PortableText from "../components/PortableText.astro";
import Banner from '../components/Banner.astro';

// Fetch homepage data at build time
const vm = await fetchHomepage();

---

<BaseLayout>
  <Banner />
  <div class="container">
    <section class="welcome">
      <div class="portable-text">
        <PortableText portableText={vm?.welcomeWidget} />
      </div>
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  $background-color: white;
  section {
    // @include jagged-border($background-color);
    background-color: $background-color;
    padding: 1rem;
    margin: 1rem;
  }
</style>

