---
import GalleryWithLightbox from '../components/Gallerylightbox.astro';
import { sanityClient } from '../utils/sanity';

const galleries = await sanityClient.fetch(`
  *[_type == "gallery"]{
    title,
    images[]{
      "thumbnailUrl": asset->url + "?w=200&h=200&fit=crop",
      "url": asset->url,
      altText,
      caption
    }
  }
`);

const mostRecentGallery = galleries[0];
---

<h1>{mostRecentGallery.title}</h1>
<GalleryWithLightbox client:load images={mostRecentGallery.images} />
