---
import LightboxGallery from '../components/LightboxGallery.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { sanityClient } from '../utils/sanity';

const galleries = await sanityClient.fetch(`
  *[_type == "gallery"]{
    title,
    images[]{
      "thumbnailUrl": asset->url + "?w=200&h=200&fit=crop",
      "url": asset->url,
      altText,
      caption
    }
  }
`);

const mostRecentGallery = galleries[0];
---

<BaseLayout>
  <h1>{mostRecentGallery.title}</h1>
  <LightboxGallery images={mostRecentGallery.images} />
</BaseLayout>
