---
import type { MetaProps } from '../../utils/types'

const props = Astro.props as MetaProps;

// TODO: Better defaults
const {
    title = '',
    description = '',
    keywords = '',
} = props;

---

<title>{title}</title>
<meta charset="UTF-8" />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
