---
import BaseLayout from '../../layouts/BaseLayout.astro';
import type { Publication } from '../../utils/types';
import { fetchAllPublications } from '../../utils/sanity';

const publications = await fetchAllPublications();
---

<BaseLayout>
    <h1>Publications</h1>
    <ul>
      {publications.map((publication: Publication) => (
        <li>
          <h2>{publication.title}</h2>
          <p>{publication.description}</p>
          <a href={publication.documentUrl} target="_blank" rel="noopener noreferrer">
            Download PDF
          </a>
        </li>
      ))}
    </ul>
</BaseLayout>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    li {
        border: 1px solid #ddd;
        padding: 16px;
        background-color: rgba(255,255,255,.5);
    }  
</style>
