---
import BaseLayout from '../../layouts/BaseLayout.astro';
import type { Publication } from '../../utils/types';
import { fetchAllPublications } from '../../utils/sanity';

const publications = await fetchAllPublications();
---

<BaseLayout>
    <h1>Publications</h1>
    <ul class="pub-grid">
      {publications.map((publication: Publication) => (
        
        <li class="list-item">
          <a href={publication.documentUrl} target="_blank" rel="noopener noreferrer">
          <h2>{publication.title}</h2>
          <p>{publication.description}</p>
          
          <div class="btn">Download PDF</div>
         </a>
        </li>
      
      ))}
    </ul>
</BaseLayout>

<style>



  

  .pub-grid {
    display: grid;
;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  /* TOOD: avoid repitition */
  .list-item {
    background-color: var(--bg-light);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;


  }

  .list-item a {
    text-decoration: none;
    display: flex;flex-direction: column; gap: 1rem;
    color: inherit;
    height: 100%;
  }

  .list-item p {
    flex: 1;
  }

  .snippet {
    font-size: 0.9rem;
    color: #444;
    margin-top: 5px;
  }
</style>
