---
import BaseLayout from '../../layouts/BaseLayout.astro';
import type { Publication } from '../../utils/types';
import { fetchAllPublications } from '../../utils/sanity';

const publications = await fetchAllPublications();
---

<BaseLayout>
    <h1>Publications</h1>
    <ul>
      {publications.map((publication: Publication) => (
        
        <li class="list-item">
          <h2>{publication.title}</h2>
          <p>{publication.description}</p>
          <a href={publication.documentUrl} target="_blank" rel="noopener noreferrer">
            Download PDF
          </a>
        </li>
      ))}
    </ul>
</BaseLayout>

<style>

  /* TOOD: avoid repitition */
  .list-item {
    background-color: var(--bg-light);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }

  .list-item a {
    text-decoration: none;
    color: inherit;
  }

  .snippet {
    font-size: 0.9rem;
    color: #444;
    margin-top: 5px;
  }
</style>
