---

const { footerText } = Astro.props;

---
<footer>
  <p>{footerText}</p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;

    @media( min-width: 800px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>