---
import {getSanityData} from '../utils/sanity';
const settings = await getSanityData(`*[_id == "settings"][0]`);
const footerText = settings?.footerText || "My Site";
// TODO: Improve typescript types


---
<footer class="bg-gray-800 text-white p-4 text-center">

  <p>{footerText}</p>

  <p><a href="https://www.wsd.org.uk/">Association of Guilds of Weavers, Spinners and Dyers
  </a></p>
<!-- 
  <p>{footerText}</p> -->
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;

    @media( min-width: 800px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>