---
import {getSanityData} from '../utils/sanity';
// const settings = await getSanityData('settings');
const settings = await getSanityData(`*[_id == "settings"][0]`);
const footerText = settings?.footerText || "My Site";

// TODO: Improve typescript types


---
<footer class="bg-gray-800 text-white p-4 text-center">
  <p>&copy; {new Date().getFullYear()}
    {footerText}
  </p>
</footer>

