---
import { fetchGlobals } from "../utils/sanity"

interface Props {
  isHomePage?: boolean;
}

const { isHomePage = false } = Astro.props;
const globals = await fetchGlobals();
const siteTitle = globals?.siteTitle || "Norfolk and Suffolk Guild of Weavers, Spinners and Dyers";
---

 <!-- TODO: Establish if this can be static -->
    
<header>
  {isHomePage ? (
    <h1 class="site-title">
      <span class="ns">Norfolk and Suffolk Guild of</span>
      <span class="wsd">Weavers, Spinners and Dyers</span>
    </h1>
  ) : (
    <a href="/" class="site-title">
      <span class="ns">Norfolk and Suffolk Guild of</span>
      <span class="wsd">Weavers, Spinners and Dyers</span>
    </a>
  )}
</header>

<style>
  header {
    /* background-color: #34334c; */
    background-color: #333;
    /* background-image: url('../images/noisy-texture.png'); */

    padding: 1rem;
    text-align: center;
  }

  .site-title {
    display: flex;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    justify-content: center;
    flex-direction: column;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .ns {
    font-size: 1.3rem;
    line-height: 1;
  }

  .wsd {
    font-size: 1.8rem;
    line-height: 1;
  }
</style>
