---
export interface MetaProps {
    title: string;
    description?: string;
    keywords?: string;
}

const props = Astro.props as MetaProps;

const {
    title = 'My Astro Site',
    description = 'A site built with Astro',
    keywords = 'astro, astro site, astro example',
} = props;

---

<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8" />