---
export interface Props {
  title?: string;
}

import Header from '../components/global/Header.astro';
import Footer from '../components/global/Footer.astro';
import Nav from '../components/global/Nav.astro';
import GoogleFonts from '../components/base/GoogleFonts.astro';
import { getCachedGlobals } from '../utils/cache';
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';
import GoogleAnalytics from '../components/base/GoogleAnalytics.astro';
import '../styles/global.scss';

const { title } = Astro.props;
const globals = await getCachedGlobals();
const isHomePage = Astro.url.pathname === '/';

const pageTitle = title 
  ? `${title} | ${globals?.siteTitle || "Norfolk & Suffolk Guild of Weavers, Spinners and Dyers"}` 
  : globals?.siteTitle || "Norfolk & Suffolk Guild of Weavers, Spinners and Dyers";

console.log("🔧 Layout loaded", globals);

---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <slot name="head" />

    <GoogleFonts />
    <Analytics/>
    <GoogleAnalytics />
  </head>
  <body>
    <Header isHomePage={isHomePage} />
    <Nav />
    <main>
      <slot />
    </main>
    <Footer footerText={globals?.footerText || "NS Guild"} />
    <SpeedInsights />
  </body>
</html>

