---
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Meta from '../components/Meta.astro';
import { fetchHomepage } from '../utils/sanity';
import type { Homepage } from '../utils/types';
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';
import '../styles/global.scss';

const homepage = await fetchHomepage();
const footerText = homepage?.footerText || "NS Guild";
const isHomePage = Astro.url.pathname === '/';

const metadata = Astro.props.metadata || {
  title: homepage?.siteTitle || "NS Guild",
  description: "Default description",
  keywords: "default, keywords",
};

---
<html lang="en">
  <Meta {...metadata} />
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Mystery+Quest&family=Twinkle+Star&display=swap" rel="stylesheet">
  <SpeedInsights />
  <Analytics/>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{homepage?.siteTitle || "NS Guild"}</title>
    <slot name="head" />
  </head>
  <body>
    <Header isHomePage={isHomePage} />
    <Nav />
    <main>
      <slot />
    </main>
    <Footer footerText={footerText} />
    <SpeedInsights />
  </body>
</html>

<style>
  main {
    /* background-image: url('../images/noisy-texture.png'); */
    /* background-image: url('../images/fabric-texture.jpg'); */
    /* background-image: url('../images/bg2.png'); */
    
    
  }
</style>