---
import type { EventType } from "../../utils/types";
import { fetchEventBySlug } from "../../sanity/queries/event";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PortableText from "../../components/shared/PortableText.astro";

const { slug } = Astro.params;

if (!slug) {
  throw new Error("Slug is missing from URL");
}

const event: EventType | null = await fetchEventBySlug(slug);
---

<BaseLayout>
  {event ? (
    <>
      <h1>{event.title}</h1>
      <p><strong>Event Date:</strong> {new Date(event.date).toLocaleDateString()}</p>

      {event.imageUrl && (
        <img src={event.imageUrl} alt={`Image for ${event.title}`} width="600" />
      )}

      <div class="event-description">
        <PortableText portableText={event.description} />
      </div>
    </>
  ) : (
    <p>Event not found.</p>
  )}
</BaseLayout>
