---
import EventCard from '../../components/EventCard.astro';
import { sanityClient } from '../../utils/sanity';
import BaseLayout from '../../layouts/BaseLayout.astro';


// Fetch events sorted by date
const events = await sanityClient.fetch(`
  *[_type == "event"] | order(date asc) {
    title,
    slug,
    date,
    description,
    "relatedGallery": relatedGallery->{
      title,
      slug
    }
  }
`);
---
<BaseLayout>
  <h1>Upcoming Events</h1>

  <div class="events-list">
    {events.map((event: any) => (
      <EventCard event={event} />
    ))}
  </div>

</BaseLayout>


<style>
.events-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px; */
}
</style>
