---
import { fetchHomepage } from "../../sanity/queries/homepage";
import type { Homepage } from "../../utils/types";

const homepage: Homepage | null = await fetchHomepage();
const banner = homepage?.banner;
---

{banner?.isActive && (
  <div class="banner">
    {banner.link ? (
      <a href={banner.link}>{banner.message}</a>
    ) : (
      <p>{banner.message}</p>
    )}
  </div>
)}

<style>
  .banner {
    /* TODO: Extract these values out */
    background-color: #FFC;
    color: var(--text-dark);
    padding: 4px;
    text-align: center;
    font-weight: bold;
  }
</style>
