---
import Image from 'astro/components/Image.astro';
import wsdLogo from '../../images/wsd-logo.gif';
import StudioLink from './StudioLink.astro';
import { version } from '../../../package.json';

const { footerText } = Astro.props;
---

<footer>
  <a target="_blank" rel="noopener noreferrer" class="wsd-logo" href="https://www.wsd.org.uk/">
    <Image
      src={wsdLogo} 
      alt="AGWSD Logo"
      width={50} 
      height={50} 
      format="webp"
      quality={80}
      loading="lazy"
    />
  </a>

  <div>
    <p>{footerText}</p>
    <p class="attribution">
      <span class="version">v{version} &bull;</span>
      <span>Design & Development by 
        <a href="https://www.linkedin.com/in/marvinbarretto/">Fourfold Media</a>
      </span>
      <StudioLink />
    </p>
  </div>
</footer>

<style scoped lang="scss">
  @use "../../styles/_breakpoints.scss" as *;

  .wsd-logo {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }

  .version {
    margin-right: 0.5rem;
  }
  .attribution {
    margin: 2px 0;
    font-size: 0.8rem;
    color: #798da3;
    a {
      color: inherit;
      &:hover {
        color: white;
      }
    }
  }
  div {
    text-align: center;
    @media(min-width: $BREAKPOINT_TABLET_PORTRAIT) {
      text-align: right;
    }
  }
  footer {
    background-color: var(--footer-bg);
    color: var(--footer-text);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    padding: 1rem;
    @media(min-width: $BREAKPOINT_TABLET_PORTRAIT) {
      flex-direction: row;
    }
  }
</style>