---
const hasVisitedStudio = Astro.cookies.get('visitedStudio')?.value === 'true';
---

{hasVisitedStudio && (
  <a target="_blank" rel="noopener noreferrer" href="/studio" class="studio-link">Admin Panel</a>
)}

<style scoped lang="scss">
  .studio-link {
    background-color: gold;
    display: inline-block;
    border-radius: 4px;
    padding: 2px 5px;
    color: black;
    text-decoration: none;
    margin-left: .5rem;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: white;
    }
  }
</style>
